extends layout.pug 

block content 
  main.all_posts     
    if posts.length
      ul.posts
        each post in posts
          li.post_item 
            a(href=`posts/${ post.id }`)= post.title
            a.delete_post(href=`posts/${ post.id }/delete`) Delete
    else
      p.empty No any post yet