extends layout.pug 

block content 
  main.content 
    h1.page-title All Posts

      each val in notes
        a(href =`posts/${val.id}`) #{ val.title}

      if posts.length 
        each post in posts 
          a.note(href='/posts/detail')= post 
      else 
        p There are no posts yet 