extends layout.pug

block content
  main.create-post
    h2.page-title Create Post

    if success
      p.success Post was added successfully

    if error
      p.error Please add post (title & body) before submitting

    form(method="POST")
      label.label Title
      input(class="post-input" name="title")
      
      label.label Body
      textarea(class="post-input" name="body" rows="10")
      button.create-post-btn Post