extends layout.pug

block content
  main.content
    h1 This is very simple blog posting app.
    p Creating Posts, Delete them and archive posts
    a.featured(href="posts/create-post" class="create-post-btn") Post Blog