extends layout.pug

block content
  main.content
    h1 This is very simple blog posting app.
    p Creating Posts, Delate them and archive posts
    a.featured(href='/create_posts' class="create-post-btn") Post Blog