extends layout.pug

block content
  main.content
    h1 This is blog posting app.
    p Creating Posts, Delete them and archive posts is easy with this app. Feel free to write or read posts.
    a.featured(href="posts/create-post" class="create-post-btn") Post Blog
  block foot
      h6.footer “This web application was created to fulfill Web Technology module’s requirements and does  represent an actual company or service”