doctype html
html
  head
    title= title
    link(rel='stylesheet' href='/main.css')
    link(rel='preconnect' href='https://fonts.gstatic.com')
    link(href='https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap' rel='stylesheet')

  body
    include includes/navbar

    block content
    script(src='https://cdn.jsdelivr.net/npm/marked/marked.min.js')
    block foot
      h6.footer “This web application was created to fulfill Web Technology module’s requirements and does  represent an actual company or service”
    