* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	font-size: 28px;
	--text-font: 'Roboto', sans-serif;
	--text-color: #551a8b;
	background-color: rgb(240, 243, 196);
}

.navbar {
	max-width: 1200px;
	margin: 0 auto;
	padding: 10px 20px;
  
	display: flex;
	justify-content: space-between;
	align-items: baseline;
  
	font-family: var(--text-font);
	border-bottom: 1px solid rgb(84, 2, 100);
  }

a {
	text-decoration: none;
}
.nav-items {
	display: flex;
	list-style-type: none;
  }
  
  .nav-link {
	padding: 5px 10px;
	color: var(--text-color);
  }
  
  .nav-link:hover,
  .logo a:hover {
	color: #cc1c65;
  }

.header,
.content,
.footer {
	width: 1000px;
	margin: 0 auto;
	font-family: var(--text-font);
}

.footer {
	padding-top: 7%;
	text-align: center;
	width: fit-content;
}


.nav-item {
	display: inline-block;
	padding: 7px 55px;
}

.content {
	padding: 100px 0 0 0;
}

.featured {
	display: inline-block;
	margin-top: 25px;
	padding: 10px 20px;
	background: #ec5494;
	color: #551a8b;
	border: 1px solid #551a8b;
}

.featured:hover {
	background: #551a8b;
	color: #FFF;
}

/* CREATE POST */
.create-post {
	max-width: 1200px;
	margin: 0 auto;
	padding: 30px;
	font-family: var(--text-font);
  }
  
  .create-post h1 {
	margin-bottom: 30px;
  }
  
  .post-input {
	width: 70%;
	display: block;
	border: 1px solid #551a8b;
	padding: 10px;
	font-size: 1rem;
  }

  .create-post-btn {
	display: inline-block;
	margin-top: 25px;
	font-size: 35px;
	padding: 20px 40px;
	background: #eee;
	color: #551a8b;
	border: 1px solid #551a8b;
  }
  .create-post-btn:hover {
	background: #551a8b;
	color: #FFF;
}

/*ALL POSTS*/

.all-posts {
	max-width: 1200px;
	margin: 0 auto;
	padding: 20px;
  }
  
  .posts {
	list-style: none;
	font-family: var(--text-font);
	max-width: 600px;
	display: block;
	color: #444;
	border-bottom: 1px solid #ccc;
	font-size: 1.4rem;
	padding: 10px;
  }
  
  .posts > li {
	padding: 10px;
	font-size: 1.2rem;
	border-bottom: 1px solid #ccc;
  }
  
  /* post detail page */
  .post-title,
  .post-body {
	font-family: var(--text-font);
  }
  
  .post-title {
	font-size: 3rem;
	margin-bottom: 1.5rem; 
  }
  
  .post-body {
	font-size: 1.5rem;
  }
  
  /* utils */
  .success,
  .error {
	padding: 10px;
	font-size: 0.9rem;
	margin-bottom: 20px;
	display: inline-block;
  }
  
  .error {
	background: #ffeaea;
	border: 1px solid #660e0e;
	color: #660e0e;
  }
  
  .success {
	background: #cefdcc;
	border: 1px solid #0e661a;
	color: #0e661a;
  }
  
  .page-title {
	font-weight: 300;
	margin-bottom: 20px;
  }
  
  .label {
	display: inline-block;
	margin: 10px 0;
  }
  
  .empty {
	font-family: var(--text-font);
	font-size: 1.5rem;
  }
  
  .post-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
  }
  
  .delete-post,
  .update-post {
	font-size: 0.8rem;
	color: #551a8b;
	padding: 2px 2px;
	margin: 1%;
  }
  .delete-post:hover,
  .update-post:hover {
	background: #551a8b;
	color: #fff;
  }
  
  .archive-link {
	display: inline-block;
	margin: 0 20px;
	font-size: 0.9rem;
	font-weight: normal;
	color: #551a8b;
  }